<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="vi" xml:lang="vi">
    <head>
        <title>E !@#</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
            <link href="css/en-style.css" rel="stylesheet">
                </head>
                <body>
                    <div class="container">
                        <div id='top' class='row-fluid'>
                            <img class='logo' src='img/logo.png' />
                        </div><!-- end #top -->
                        <div id='en-nav' class='row-fluid'>
                            <ul>
                                <li class='active'><a href='#'>Home</a></li>
                                <li><a href='#'>Tin tức</a></li>
                                <li><a href='#'>Bài học</a></li>
                                <li><a href='#'>Tham khảo</a></li>
                                <li><a href='#'>Học qua clip</a></li>
                                <li><a href='#'>Học và chơi</a></li>
                                <li><a href='#'>Bài test</a></li>
                                <li><a href='#'>Học offline</a></li>
                                <li><a href='#'>Video</a></li>
                                <li><a href='#'>T.A Phổ thông</a></li>
                                <li><a href='#'>Chấm điểm</a></li>
                                <li><a href='#' class='li-last'>Diễn đàn</a></li>
                            </ul>
                        </div><!-- end #menu-bar -->
                        <div id='sub-nav' class='row-fluid'>
                            <div id='title' class='span9'>
                                Bài học
                            </div>
                            <div id='image-title' class='span3'>
                                <img src='img/image-sub.png' />
                            </div>
                        </div><!-- end #sub-nav -->
                        <div id='wrap-en' class='row-fluid'>
                            <div id='en-left' class='span4'>
                                <div class='en-box row-fluid'>
                                    <div class='row-fluid en-box-title'>
                                        ngữ pháp tiếng anh
                                    </div>
                                    <div class='row-fluid en-box-feature'>
                                        <div class='span3'>
                                            <img class='en-box-img' src="img/image-1.png" />
                                        </div>
                                        <div class='span8 en-box-text-feature'>
                                            Học ngữ pháp tiếngAnh từ cơ bản đến nâng cao bao gồm ngữ 
                                            pháp tiếng Anh cơ bản, ngữ pháp tiếng Anh nâng cao, 
                                            học ngữ pháp qua youtube, các bài test ngữ pháp
                                        </div>
                                    </div>
                                    <div class='row-fluid en-box-desc'>
                                        <ul>
                                            <li><a href='#'>Bài học ngữ pháp cơ bản</a></li>
                                            <li><a href='#'>Ngữ pháp tiếng anh thực hành - Grammer in use</a></li>
                                            <li><a href='#'>Học ngữ pháp qua phân tích câu</a></li>
                                            <li><a href='#'>Pharsal verd - Cũm động từ</a></li>
                                            <li><a href='#'>Idioms BBC</a></li>
                                            <li><a href='#'>English Grammar: Lesson in English</a></li>
                                        </ul>
                                    </div>
                                </div><!-- end .en-box //ngu phap -->
                                <div class='en-box row-fluid'>
                                    <div class='row-fluid en-box-title'>
                                        nói
                                    </div>
                                    <div class='row-fluid en-box-feature'>
                                        <div class='span3'>
                                            <img class='en-box-img' src="img/image-1.png" />
                                        </div>
                                        <div class='span8 en-box-text-feature'>
                                            Trong phần này chúng ta sẽ học cách nói tiếng 
                                            Anh chuẩn thông qua các bài học đơn giản và dễ hiểu.
                                        </div>
                                    </div>
                                    <div class='row-fluid en-box-desc'>
                                        <ul>
                                            <li><a href='#'>Luyện nói - Repetition</a></li>
                                            <li><a href='#'>Luyện nói - Describe pictures</a></li>
                                            <li><a href='#'>Tiếng Anh Văn Phòng</a></li>
                                            <li><a href='#'>Kĩ năng nói chuyện trong kinh doanh</a></li>
                                            <li><a href='#'>Tiếng Anh thực tế - Real English</a></li>
                                        </ul>
                                    </div>
                                </div><!-- end .en-box //noi -->
                                <div class='en-box row-fluid'>
                                    <div class='row-fluid en-box-title'>
                                        đọc
                                    </div>
                                    <div class='row-fluid en-box-feature'>
                                        <div class='span3'>
                                            <img class='en-box-img' src="img/image-1.png" />
                                        </div>
                                        <div class='span8 en-box-text-feature'>
                                            Trong phần này chúng ta sẽ cùng học tiếng Anh 
                                            thông qua các bài đọc ngắn đơn giản và dễ hiểu.
                                        </div>
                                    </div>
                                    <div class='row-fluid en-box-desc'>
                                        <ul>
                                            <li><a href='#'>Đọc tiếng Anh trình độ dễ (Beginner)</a></li>
                                            <li><a href='#'>Đọc tiếng Anh trình độ trung bình (Intermediate)</a></li>
                                        </ul>
                                    </div>
                                </div><!-- end .en-box //doc -->
                                <div class='en-box row-fluid'>
                                    <div class='row-fluid en-box-title'>
                                        viết
                                    </div>
                                    <div class='row-fluid en-box-feature'>
                                        <div class='span3'>
                                            <img class='en-box-img' src="img/image-1.png" />
                                        </div>
                                        <div class='span8 en-box-text-feature'>
                                            Trong phần này chúng ta sẽ học cách viết đúng 
                                            tiếng Anh từ cơ bản đến nâng cao thông qua các bài tiếng Anh
                                        </div>
                                    </div>
                                    <div class='row-fluid en-box-desc'>
                                        <ul>
                                            <li><a href='#'>Viết qua tranh (dễ)</a></li>
                                            <li><a href='#'>Học viết TOEIC</a></li>
                                            <li><a href='#'>Viết Essay</a></li>
                                            <li><a href='#'>Viết Thư Phản Hồi</a></li>
                                            <li><a href='#'>Viết qua tranh (free-style)</a></li>
                                            <li><a href='#'>Học viết tiếng Anh cơ bản</a></li>
                                            <li><a href='#'>Học viết thư tiếng Anh</a></li>
                                            <li><a href='#'>Học viết thư điện tử tiếng Anh</a></li>
                                            <li><a href='#'>Học viết CV tiếng Anh</a></li>
                                        </ul>
                                    </div>
                                </div><!-- end .en-box //viet -->
                                <div class='en-box row-fluid'>
                                    <div class='row-fluid en-box-title'>
                                        giao tiếp cơ bản
                                    </div>
                                    <div class='row-fluid en-box-feature'>
                                        <div class='span3'>
                                            <img class='en-box-img' src="img/image-1.png" />
                                        </div>
                                        <div class='span8 en-box-text-feature'>
                                            Trong mục này các bạn sẽ đến với những bài dạy và 
                                            thực hành giao tiếp tiếng Anh: nghe - nói cơ bản.
                                        </div>
                                    </div>
                                    <div class='row-fluid en-box-desc'>
                                        <ul>
                                            <li><a href='#'>Lesson 1 - Names and titles</a></li>
                                            <li><a href='#'>Lesson 2 - Describing people</a></li>
                                            <li><a href='#'>Lesson 2 - Describing people</a></li>
                                            <li><a href='#'>Lesson 4 - Time</a></li>
                                            <li><a href='#'>Lesson 5 - Dates</a></li>
                                            <li><a href='#'>Lesson 6 - Jobs</a></li>
                                            <li><a href='#'>Lesson 7 - Review</a></li>
                                            <li><a href='#'>Lesson 8 - Sports and Exercises</a></li>
                                            <li><a href='#'>Lesson 9 - Locations</a></li>
                                            <li><a href='#'>Lesson 10 - Family</a></li>
                                            <li><a href='#'>Lesson 11 - Entertainment</a></li>
                                            <li><a href='#'>Lesson 12 - Prices</a></li>
                                        </ul>
                                    </div>
                                </div><!-- end .en-box //giao tiep co ban -->
                                <div class='en-box row-fluid'>
                                    <div class='row-fluid en-box-title'>
                                        học qua dịch
                                    </div>
                                    <div class='row-fluid en-box-feature'>
                                        <div class='span3'>
                                            <img class='en-box-img' src="img/image-1.png" />
                                        </div>
                                        <div class='span8 en-box-text-feature'>
                                            Thông qua việc giải thích cặn kẽ tại sao 1 câu tiếng 
                                            Anh lại được dịch ra tiếng Việt như vậy, các bạn sẽ hiểu 
                                            được cấu trúc ngữ pháp, từ vựng một cách chắc chắn hơn.
                                        </div>
                                    </div>
                                    <div class='row-fluid en-box-desc'>
                                        <ul>
                                            <li><a href='#'>Lesson 45: Facebook history</a></li>
                                            <li><a href='#'>Lesson 44: Dog saves owner from fainting</a></li>
                                        </ul>
                                    </div>
                                </div><!-- end .en-box //hoc qua dich -->
                            </div><!-- end #en-left -->

                            <div id='en-mid' class='span5'>
                                <div class='en-box row-fluid'>
                                    <div class='row-fluid en-box-title'>
                                        từ vựng tiếng anh
                                    </div>
                                    <div class='row-fluid en-box-feature'>
                                        <div class='span4'>
                                            <img class='en-box-img-type2' src="img/image-2.png" />
                                        </div>
                                        <div class='span8 en-box-text-feature'>
                                            Trong phần này chúng ta sẽ học từ vựng tiếng Anh theo 
                                            các chủ đề khác nhau với hình ảnh minh họa và audio trực tiếp.
                                        </div>
                                    </div>
                                    <div class='row-fluid en-box-desc'>
                                        <ul>
                                            <li><a href='#'>Từ điển tiếng Anh bằng hình ảnh</a></li>
                                            <li><a href='#'>Học từ vựng tiếng Anh theo từ</a></li>
                                            <li><a href='#'>Từ vựng tiếng Anh bằng hình ảnh</a></li>
                                            <li><a href='#'>Animals - Các loài động vật</a></li>
                                            <li><a href='#'>Các vật dụng trong nhà</a></li>
                                            <li><a href='#'>1000 Từ Vựng Tiếng Anh Cơ Bản</a></li>
                                            <li><a href='#'>6000 Từ Tiếng Anh Thông Dụng</a></li>
                                            <li><a href='#'>Từ vựng tiếng Anh qua video</a></li>
                                        </ul>
                                    </div>
                                </div><!-- end .en-box //tu vung tieng anh -->
                                <div class='en-box row-fluid'>
                                    <div class='row-fluid en-box-title'>
                                        luyện nghe tiếng anh
                                    </div>
                                    <div class='row-fluid en-box-feature'>
                                        <div class='span4'>
                                            <img class='en-box-img-type2' src="img/image-2.png" />
                                        </div>
                                        <div class='span8 en-box-text-feature'>
                                            Trong phần này chúng ta sẽ học cách nghe tiếng Anh qua các bài học đơn giản và dễ hiểu.
                                        </div>
                                    </div>
                                    <div class='row-fluid en-box-desc'>
                                        <ul>
                                            <li><a href='#'>Luyện nghe cơ bản (2)</a></li>
                                            <li><a href='#'>Luyện nghe tiếng Anh qua tin tức</a></li>
                                            <li><a href='#'>Luyện nghe qua VOA TV Video</a></li>
                                            <li><a href='#'>Luyện nghe tiếng Anh qua Video clip (Trình độ cao)</a></li>
                                            <li><a href='#'>Nghe tiếng Anh theo chủ đề</a></li>
                                            <li><a href='#'>Listening & Writing - Easy</a></li>
                                            <li><a href='#'>Listening & Writing - Advanced</a></li>
                                        </ul>
                                    </div>
                                </div><!-- end .en-box //luyen nghe tieng anh -->
                                <div class='en-box row-fluid'>
                                    <div class='row-fluid en-box-title'>
                                        phát âm tiếng anh
                                    </div>
                                    <div class='row-fluid en-box-feature'>
                                        <div class='span4'>
                                            <img class='en-box-img-type2' src="img/image-2.png" />
                                        </div>
                                        <div class='span8 en-box-text-feature'>
                                            Phát âm tiếng Anh chuẩn là phần khó nhất trong quá trình học tiếng Anh, 
                                            phần này sẽ giúp các bạn học cách phát âm tiếng Anh nhanh nhất.
                                        </div>
                                    </div>
                                    <div class='row-fluid en-box-desc'>
                                        <ul>
                                            <li><a href='#'>Phát âm tiếng Anh cơ bản</a></li>
                                            <li><a href='#'>Thực hành phát âm cơ bản</a></li>
                                            <li><a href='#'>Học phát âm tiếng Anh qua video (nâng cao)</a></li>
                                        </ul>
                                    </div>
                                </div><!-- end .en-box //luyen nghe tieng anh -->
                                <div class='en-box row-fluid'>
                                    <div class='row-fluid en-box-title'>
                                        tiếng anh cơ bản 1
                                    </div>
                                    <div class='row-fluid en-box-feature'>
                                        <div class='span4'>
                                            <img class='en-box-img-type2' src="img/image-2.png" />
                                        </div>
                                        <div class='span8 en-box-text-feature'>
                                            Bộ tiếng Anh dành cho người bắt đầu làm quen với
                                            tiếng Anh hoặc những người bị mất vốn tiếng 
                                            Anh căn bản muốn học lại từ đầu.
                                        </div>
                                    </div>
                                    <div class='row-fluid en-box-desc'>
                                        <ul>
                                            <li><a href='#'>Bài 1: Personal details</a></li>
                                            <li><a href='#'>Bài 2: Places in the house</a></li>
                                            <li><a href='#'>Bài 3: My Family</a></li>
                                            <li><a href='#'>Bài 4: Everyday Activities</a></li>
                                            <li><a href='#'>Bài 5: What Do You Often Do On Sundays?</a></li>
                                            <li><a href='#'>Review Test Unit 1-5</a></li>
                                            <li><a href='#'>Bài 6: It's Shining</a></li>
                                            <li><a href='#'>Bài 7: I Always Cry When I'm sad.</a></li>
                                            <li><a href='#'>Bài 8: Foods and drinks</a></li>
                                            <li><a href='#'>Bài 9: Daily Objects</a></li>
                                            <li><a href='#'>Bài 10: I can do my job well!</a></li>
                                            <li><a href='#'>Review Test Unit 6-10</a></li>
                                            <li><a href='#'>Bài 11: Did you watch the movie last night?</a></li>
                                            <li><a href='#'>Bài 12: My fashion style</a></li>
                                            <li><a href='#'>Bài 13: He used to play volleyball.</a></li>
                                            <li><a href='#'>Bài 14: We're going on holiday</a></li>
                                            <li><a href='#'>End-of-Course Test</a></li>
                                            <li><a href='#'></a></li>
                                        </ul>
                                    </div>
                                </div><!-- end .en-box //tieng anh co ban 1 -->
                                <div class='en-box row-fluid'>
                                    <div class='row-fluid en-box-title'>
                                        tiếng anh cơ bản 1
                                    </div>
                                    <div class='row-fluid en-box-feature'>
                                        <div class='span4'>
                                            <img class='en-box-img-type2' src="img/image-2.png" />
                                        </div>
                                        <div class='span8 en-box-text-feature'>
                                            Bộ tiếng Anh dành cho người học cấp độ 2 của tiếng anh cơ bản
                                        </div>
                                    </div>
                                    <div class='row-fluid en-box-desc'>
                                        <ul>
                                            <li><a href='#'>Bài 2 - Relationships</a></li>
                                            <li><a href='#'>Bài 3 - Media</a></li>
                                            <li><a href='#'>Bài 4 - Animals</a></li>
                                            <li><a href='#'>Review Test 1</a></li>
                                            <li><a href='#'>Bài 5 - Environment</a></li>
                                            <li><a href='#'>Bài 6 - Shopping</a></li>
                                            <li><a href='#'>Bài 7 - Nutrition</a></li>
                                            <li><a href='#'>Bài 8 - Health Problems</a></li>
                                            <li><a href='#'>Review Test 2</a></li>
                                        </ul>
                                    </div>
                                </div><!-- end .en-box //tieng anh co ban 2 -->
                            </div><!-- end #en-mid -->

                            <div id='en-right' class='span3'>
                                <div class='row-fluid' id='search'>
                                    <input type='text' class='search-query' placeholder='Tìm kiếm' name='kw' />
                                </div>
                                <div class="row-fluid margin_topbot10"> 
                                    <form>
                                        <div class="top_login">
                                            <img style="float: left" src="img/people.png" alt="">
                                                <a href="#">Thành viên</a><br/>
                                                <a href="#">Đăng ký thành viên</a>
                                        </div><!--end .top_login-->
                                        <div class="body_login">
                                            <label>Tên đăng nhập:</label>
                                            <input type="text" class="input inputfix" title="Username" placeholder=""/>
                                            <label>Mật khẩu:</label>
                                            <input type="text" class="input inputfix" title="Password" placeholder="********"/>
                                            <button type="submit" class="btn btn-primary">Đăng nhập</button>
                                            <div class="checkbox"> <input type="checkbox"/> Ghi nhớ tài khoản <br/> <a href="#">Quên mật khẩu?</a>
                                            </div>
                                        </div><!--end .body_login-->

                                    </form>
                                </div><!--end.row-fluid-->
                                <div class="support row-fluid margin_topbot10">
                                    <div class="top_support">
                                        <img style="margin-left: 45px" src="img/support.jpg">
                                    </div><!--end. top_support-->
                                    <div class="title_support">Hỗ trợ trực tuyến</div>
                                    <div class="body_right">

                                        <ul class="none_list_style">
                                            <li>Giáo viên 1: <img src="img/yahoo.jpg"></li>
                                            <li>Giáo viên 2: <img src="img/yahoo.jpg"></li>
                                            <li>Giáo viên 3: <img src="img/yahoo.jpg"></li>
                                        </ul>
                                    </div>
                                </div><!--end .suport-->
                                <div class="box_ul margin_topbot10">
                                    <ul class="none_list_style">
                                        <li><img src="img/icon_thumnail1.jpg" alt=""/>&raquo; <a href="#">Cách đăng ký thành viên vip 1234</a></li>
                                        <li><img src="img/icon_thumnail2.jpg" alt=""/>&raquo; <a href="#">Cách đăng ký thành viên vip 1234</a></li>
                                        <li><img src="img/icon_thumnail3.jpg" alt=""/>&raquo; <a href="#">Cách đăng ký thành viên vip</a></li>
                                        <li><img src="img/icon_thumnail4.jpg" alt=""/>&raquo; <a href="#">Cách đăng ký thành viên vip1234</a></li>
                                    </ul>
                                </div><!--end .box_ul-->
                                <div class="ad_img margin_topbot10">
                                    <a href="#"><img src="img/ad1.jpg" alt=""/></a>
                                </div>
                                <div class="thongke margin_topbot10">
                                    <div class="title_support">Thống Kê</div>
                                    <div class="body_right">
                                        <ul class="none_list_style">
                                            <li>Thành viên: <b>723926</b></li>
                                            <li>Thành viên mới: <a href="#">nga10</a> </li>
                                            <li>Đang trực tuyến: 1087</li>
                                            <li>Xem chi tiết <img src="img/icon_people.jpg" alt=""/></li>
                                            <li><img src="img/visitercount.jpg"/></li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!-- end #end-right -->

                        </div><!-- end #wrap-en -->
                    </div><!-- end .container -->
                    <div class='container-fluid' id='footer-menu'>
                        <div class='row-fluid' id='top-footer'>
                            <div class='span2'></div>
                            <div id='en-nav' class='row-fluid span9'>
                                <ul>
                                    <li><a href='#' class='li-first'>Home</a></li>
                                    <li><a href='#'>Phát âm tiếng anh</a></li>
                                    <li><a href='#'>Đọc tiếng anh</a></li>
                                    <li><a href='#'>Luyện thi toiec</a></li>
                                    <li><a href='#'>Từ vựng tiếng anh</a></li>
                                    <li><a href='#'>Ngữ pháp tiếng anh</a></li>
                                    <li><a href='#'>Nghe tiếng anh</a></li>
                                    <li><a href='#'>Tiếng anh thương mại</a></li>
                                    <li><a href='#' class='li-last'>Qui định sử dụng</a></li>
                                </ul>
                            </div><!-- end #menu-bar -->
                        </div>
                    </div><!-- end #footer-menu -->
                    <div class='container-fluid' id='footer-info'>
                        <div class='span2'>&nbsp;</div>
                        <div class='row-fluid' id='top-footer'>
                            <div id='footer-info-copy' class='span9'>
                                <p>
                                    TiếngAnh123.Com - a product of BeOnline Co., Ltd.
                                </p>
                                <p>
                                    Giấy phép ĐKKD số: 0102852740 cấp bởi Sở Kế hoạch và Đầu tư Hà Nội.
                                </p>
                                <p>
                                    Giấy phép ĐKKD số: 0102852740 cấp bởi Sở Kế hoạch và Đầu tư Hà Nội.
                                </p>
                                <p>
                                    Giấy xác nhận cung cấp dịch vụ mạng xã hội học tiếng Anh trực tuyến số: 36/GXN-TTĐT cấp bởi Bộ Thông tin & Truyền thông.
                                </p>
                                <p>
                                    Địa chỉ: số nhà 15-23, ngõ 259/9 phố Vọng, Đồng Tâm, Hai Bà Trưng, Hà Nội. Tel: 0436628077. Email: lophoc@tienganh123.com
                                </p>
                            </div>
                        </div>
                    </div><!-- end #footer-info -->

                </body>
                <script src="js/jquery-1.7.1.min.js"></script>
                <script src="js/bootstrap.min.js"></script>
                </html>